---
import Document from '../components/Document.astro'
import Content from '../components/Content.astro'
---

<Document>
  <Content>
    <section>
      <h1 class="text-3xl text-center">Oops, not found</h1>
    </section>
  </Content>
</Document>
