---
import Document from '../layouts/Document.astro'
import Content from '../components/Content.astro'
---

<Document>
  <Content>
    <section class="flex place-items-center place-content-center gap-2">
      <div class="i-ion-sad-outline text-2xl"></div>
      <h1 class="text-2xl text-center">Not found</h1>
    </section>
  </Content>
</Document>
